<div class="row">
  {{#each model as |visual|}}
    <div class="col-sm-4 aspect-ratio aspect-ratio-16-9">
      {{#link-to visual.route classNames="thumbnail"}}
        <img alt="{{visual.name}}">
      {{/link-to}}
    </div>
  {{/each}}
</div>
