<h1 class="visual-name">{{visual.name}}</h1>
{{#each visual.tags as |tag|}}
  <span>{{tag}}</span>
{{/each}}
<div class="row">
  <div class="visual-content-stretcher col-xs-12">
    <div class="visual-content">
      {{yield}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h2>Anatomy</h2>
  </div>
  <div class="col-sm-6">
    <h2>Description</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2>Variations</h2>
  </div>
</div>
