
/* These can go now */
.bar {
  stroke-width: 15;
}

.data-control {
  margin: 12px 0;
}

.domain {
  fill: none;
}

.tick.zero .tick-mark {
  stroke: black;
  stroke-width: 1;
}

.tick line {
  stroke: black;
}

