
.aspect-ratio {
  /*width: 50%;*/
  /* whatever width you want */
  display: block;
  position: relative;
}
.aspect-ratio:after {
  display: block;
  content: '';
}
.aspect-ratio-16-9:after {
  padding-top: 56.25%;
}
.aspect-ratio-21-9:after {
  padding-top: 42.8571429%;
}

