<h1>Create Ambitious</h1>
<h1>Data Visuals</h1>

<div class="links">
  {{#link-to "guides"}}
    <button class="btn btn-default">Guides</button>
  {{/link-to}}
  {{#link-to "gallery"}}
    <button class="btn btn-default">Gallery</button>
  {{/link-to}}
</div>
